In [2]:
import pandas as pd
df = pd.read_csv('/content/Student_Marks.csv')
df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [4]:
x = df.iloc[:,0:2].values
x

array([[3.   , 4.508],
       [4.   , 0.096],
       [4.   , 3.133],
       [6.   , 7.909],
       [8.   , 7.811],
       [6.   , 3.211],
       [3.   , 6.063],
       [5.   , 3.413],
       [4.   , 4.41 ],
       [3.   , 6.173],
       [3.   , 7.353],
       [7.   , 0.423],
       [7.   , 4.218],
       [3.   , 4.274],
       [3.   , 2.908],
       [4.   , 4.26 ],
       [5.   , 5.719],
       [8.   , 6.08 ],
       [6.   , 7.711],
       [8.   , 3.977],
       [4.   , 4.733],
       [6.   , 6.126],
       [5.   , 2.051],
       [7.   , 4.875],
       [4.   , 3.635],
       [3.   , 1.407],
       [7.   , 0.508],
       [8.   , 4.378],
       [5.   , 0.156],
       [4.   , 1.299],
       [8.   , 3.864],
       [3.   , 1.923],
       [8.   , 0.932],
       [6.   , 6.594],
       [3.   , 4.083],
       [3.   , 7.543],
       [4.   , 2.966],
       [6.   , 7.283],
       [7.   , 6.533],
       [6.   , 7.775],
       [4.   , 0.14 ],
       [6.   , 2.754],
       [6.   , 3.591],
       [5.   , 1.557],
       [4.   , 1.954],
       [3.   , 2.061],
       [4.   , 3.797],
       [4.   , 4.779],
       [3.   , 5.635],
       [5.   , 3.913],
       [6.   , 6.703],
       [6.   , 4.13 ],
       [4.   , 0.771],
       [7.   , 6.049],
       [8.   , 7.591],
       [7.   , 2.913],
       [8.   , 7.641],
       [7.   , 7.649],
       [3.   , 6.198],
       [8.   , 7.468],
       [6.   , 0.376],
       [4.   , 2.438],
       [6.   , 3.606],
       [3.   , 4.869],
       [7.   , 0.13 ],
       [6.   , 2.142],
       [4.   , 5.473],
       [3.   , 0.55 ],
       [4.   , 1.395],
       [6.   , 3.948],
       [4.   , 3.736],
       [5.   , 2.518],
       [3.   , 4.633],
       [3.   , 1.629],
       [4.   , 6.954],
       [3.   , 0.803],
       [5.   , 6.379],
       [8.   , 5.985],
       [7.   , 7.451],
       [3.   , 0.805],
       [7.   , 7.957],
       [8.   , 2.262],
       [4.   , 7.41 ],
       [5.   , 3.197],
       [8.   , 1.982],
       [8.   , 6.201],
       [7.   , 4.067],
       [3.   , 1.033],
       [5.   , 1.803],
       [7.   , 6.376],
       [7.   , 4.182],
       [8.   , 2.73 ],
       [4.   , 5.027],
       [8.   , 6.471],
       [8.   , 3.919],
       [6.   , 3.561],
       [3.   , 0.301],
       [4.   , 7.163],
       [7.   , 0.309],
       [3.   , 6.335]])

In [5]:
y = df.iloc[:,2].values
y

array([19.202,  7.734, 13.811, 53.018, 55.299, 17.822, 29.889, 17.264,
       20.348, 30.862, 42.036, 12.132, 24.318, 17.672, 11.397, 19.466,
       30.548, 38.49 , 50.986, 25.133, 22.073, 35.939, 12.209, 28.043,
       16.517,  6.623, 12.647, 26.532,  9.333,  8.837, 24.172,  8.1  ,
       15.038, 39.965, 17.171, 43.978, 13.119, 46.453, 41.358, 51.142,
        7.336, 15.725, 19.771, 10.429,  9.742,  8.924, 16.703, 22.701,
       26.882, 19.106, 40.602, 22.184,  7.892, 36.653, 53.158, 18.238,
       53.359, 51.583, 31.236, 51.343, 10.522, 10.844, 19.59 , 21.379,
       12.591, 13.562, 27.569,  6.185,  8.92 , 21.4  , 16.606, 13.416,
       20.398,  7.014, 39.952,  6.217, 36.746, 38.278, 49.544,  6.349,
       54.321, 17.705, 44.099, 16.106, 16.461, 39.957, 23.149,  6.053,
       11.253, 40.024, 24.394, 19.564, 23.916, 42.426, 24.451, 19.128,
        5.609, 41.444, 12.027, 32.357])

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [11]:
model.fit(x_train,y_train)

LinearRegression()

In [12]:
y_pred = model.predict(x_test)
y_pred

array([ 8.79129789, 27.7404548 , 17.34208476, 21.59622128,  3.12798968,
       42.34854752, 32.91919872,  7.52585526, 48.31175509, 23.23786918,
       38.29320247, 27.4262947 , 45.75786052, 21.60860885, 20.64138028,
       28.46811705, 13.38969393, 20.01487958, 39.38644825, 24.14120625,
       10.75949345, 23.47746234, 46.38789285, 15.87613851,  9.82594961])

In [14]:
#@title
model.predict([[3,4.5]])

array([22.81189895])